html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  padding: 100px 0;
}

p {
  font-size: 14px;
  line-height: 1.45;
}

#main {
  border: 5px solid red;
  margin: 0 auto;
  max-width: 840px;
  padding: 20px;
  width: 95%;
}

#main article {
  background-color: #f7f7f7;
  float: left;
  margin: 0 5%;
  padding: 15px 10px;
  width: 40%;
}

#main,
#main article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}