/* DEMO: example */
.completed-example {
  margin-bottom: 35px;
}
.completed-example img {
  display: block;
}

/* ====== */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  padding: 50px 0;
}

p {
  font-size: 14px;
  line-height: 1.45;
}

#wrap {
  margin: 0 auto;
  width: 640px;
}

#wrap h1 {
  font-size: 18px;
  font-weight: 400;
}

#content {
  background-color: #dedede;
  border: 1px solid #aaa;
  padding: 20px;
}

#content article {
  background-color: #f7f7f7;
  border: 1px solid #bbb;
  float: left;
  margin: 0 5%;
  padding: 15px 10px;
  width: 40%;
}

#content,
#content article {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}